{% extends 'base.html' %}
{% set active_page = "projects" %}

{% block content %}
<div style="text-align: center;">
    <ul style="display:inline-block;text-align:left;list-style-position:inside;">
        <li style="margin-bottom:50px;"><a href="https://github.com/RFX14/Poke_Weakness">Pokemon Weakness - iOS, Swift,
                UIKit</a></li>
        <ul>
            <li>Learned and utilized a REST API to gather relevant Pokemon Data.</li>
            <li>Used storyboards within Xcode to design and configure user interface.</li>
            <li>Implemented an MVC Architecture and Delegate Pattern to further code usability.</li>
        </ul>
        <img src="https://user-images.githubusercontent.com/25238219/115174000-097e3b80-a08e-11eb-9cb7-f5ce477dd03b.gif"
            alt="App Demo Gif" style="height: 400px; width: auto; margin:50px;">
        <li style="margin-bottom:50px;"><a href="https://github.com/miyabiserizawa/react-app">React Game - React.js,
                JavaScript</a></li>
        <ul style="margin-bottom:50px;">
            <li>Word game built with React.</li>
            <li>Learned and utilized the React.js framework.</li>
            <li>Used REST APIs from dictionary.com.</li>
        </ul>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg" alt="React"
            style="height: 400px; width: auto; margin:50px;">
        <li><a href="https://github.com/miyabiserizawa/angular-app">Angular Library -
                Angular.js,
                JavaScript, MySQL</a></li>
        <ul style="margin-bottom:50px;">
            <li>Full-Stack Library App</li>
            <li>Learned and utilized the Angular.js framework.</li>
            <li>Used a database from MySQL.</li>
        </ul>
        <img src="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication/admin_authentication_user_add_group.png"
            alt="library" style="height: 400px; width: auto; margin:50px;">
    </ul>
</div>
{% endblock %}