{% extends 'base.html' %}
{% set active_page = "projects" %}

{% block content %}
<div>
    <ul>
        <li>Pokemon Weakness</li>
            <ul>
                <li>Learned and utilized a REST API to gather relevant Pokemon Data.</li>
                <li>Used storyboards within Xcode to design and configure user interface.</li>
                <li>Implemented an MVC Architecture and Delegate Pattern to further code usablity.</li>
            </ul>
            <img src="https://user-images.githubusercontent.com/25238219/115174000-097e3b80-a08e-11eb-9cb7-f5ce477dd03b.gif" alt="App Demo Gif" style="height: 400px; width: auto;">
        <li>Project 2</li>
        <li>Project 3</li>
    </ul>
</div>
{% endblock %}